{
  "ConnectionStrings": {
    "DefaultConnection": "Host=;Port=;Database=;Username=;Password=;"
  },
  "Google": {
    "ClientId": ""
  },
  "CorsConfig": "https://example.com, https://another-domain.com,",
  "Amazon": {
    "ACCESS_KEY": "",
    "SECRET_KEY": "",
    "bucketName": "",
    "avatarBucketName": "",
    "avatarPublicUrl": "",
    "region": "",
    "SES_Sender": "",
    "SES_REGION": ""
  },
  "Frontend": {
    "CookieDomain": "example.com",
    "BaseUrl": "https://example.com",
    "EmailVerificationPath": "/auth/verifyEmail",
    "PasswordResetPath": "/auth/resetPassword",
    "DeleteAccountPath": "/auth/deleteAccount",
    "ChangeEmailPath": "/auth/changeEmail"
  },
  "JWT": {
    "Issuer": "example.com",
    "Audience": "example.com",
    "secretKey": "VERY_SECRET_KEY",
    "Cookiekey": "nauth",
    "expiresAfterDays": 60,
    "emailActionExpiresMinutes": 15,
    "emailActionCooldownSeconds": 60
  },
  "AutoMapper": {
    "licenceKey": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Connection": "Warning"
    }
  },
  "AllowedHosts": "*"
}